@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    font-family: system-ui, sans-serif;
}

div.image-sidebar {
    background-image: url("./img/alice-pasqual-xdD-x2Y2SPI-unsplash.jpg");
    background-size: 100% 100%;
    min-width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.banner {
    height: 15%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.banner img {
    max-height: 100%;
}

.banner .logo-name {
    font-family: 'montserratregular';
    font-size: 2rem;
    color: #ffffff;
}

.image-sidebar .photo-credit {
    color: #ffffff;
    text-align: center;
}

.photo-credit a {
    color: #ffffff;
}

div.right-content {
    display: flex;
    flex-direction: column;
}

.right-content .intro {
    padding: 2rem 8rem 2rem 2rem;
    flex: 0 1 0;
    line-height: 1.5;
}

.intro p + p {
    margin-top: 2rem;
}

form .form-controls {
    box-shadow: 0 5px 10px #c6c6c6;
    padding: 1rem 2rem 2rem 2rem;
}

div.right-content > div,
div.right-content > form {
    flex-grow: 1;
}

.right-content p {
    font-weight: bold;
}

.right-content form {
    min-width: 0;
}

.form-controls .form-row {
    display: flex;
    gap: 2rem;
}

.form-controls .form-row + .form-row {
    margin-top: 1rem;
}

.form-controls p {
    margin-bottom: 1rem;
}

.form-row .input-field {
    display: flex;
    flex-direction: column;
}

.input-field input {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.input-field input:focus {
    outline: none;
    border: 1px solid blue;
}

.input-field label {
    font-size: 0.75rem;
}

.submit-form {
    padding: 2rem;
}

.submit-form button {
    background-color: #9a64ab;
    padding: 0.5rem 2rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-bottom: 2rem;
}

.submit-form a {
    color: #9a64ab;
}

.submit-form p {
    font-weight: 400;
}